.contenedor{border: 1px solid red;}
.columna{border:1px solid yellow;}
.azul{border: 1px solid blue;}
.naranja{border: 1px solid orange;}
.verde{border: 1px solid green;}
.morado{border: 1px solid purple;}
